@import vars
@import fonts
@import libs

%reset
    all: initial
    -webkit-appearance: none

%no-events
    pointer-events: none

[data-events=false]
    @extend %no-events

html
    hyphens: auto
    word-break: normal

html, body
    height: 100%

.navigation
    &__list
        list-style: none
        margin: 0
        padding: 0
        display: flex
        flex-flow: row wrap
    &__item
        flex: auto
    &__link
        display: block
        line-height: 3rem
        text-align: center

.layout
    display: flex
    flex-flow: column
    justify-content: flex-start
    min-height: 100%
    &__header
        flex: 0 1 100px
        min-height: 100px
    &__body
        flex: 1 0 auto
    &__footer
        flex: 0 1 100px
        min-height: 100px
    &--hero
        .layout
            &__header
                position: fixed
                top: 0
                left: 0
                right: 0
                z-index: 9
                background-color: rgba(255,255,255,.8)
                backdrop-filter: blur(5px)
                -webkit-backdrop-filter: blur(5px)
            &__body
                padding-top: 100px

.section
    position: relative
    padding-top: $y-gutter
    padding-bottom: $y-gutter
    &--hero
        height: 100vh
        background-repeat: no-repeat
        background-position: 50% 50%
        background-size: cover
        &:before
            content: ''
            position: absolute
            top: 0
            left: 0
            right: 0
            bottom: 0
            background-color: #000000
            opacity: .3