<!-- browser settings -->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<!-- open graph -->
<meta property="og:site_name" content="" />
<meta property="og:title" content="" />
<meta property="og:description" content="" />
<meta property="og:image" content="://absolute/path/to/image.jpg" />
<meta property="og:type" content="website" /> <!-- or "article" -->
<meta property="og:url" content="://absolute/path/to/this/page/" />
<!-- seo -->
<link rel="canonical" href="://absolute/path/to/this/page/">
<meta name="description" content="" />
<meta name="keywords" content="" />
<meta name="robots" content="index, follow" />
<!-- conditions -->
<!--[if IE]><link href="ie.css" rel="stylesheet" type="text/css" /><![endif]-->