<nav class="navigation">
    <ul class="navigation__list" itemscope itemtype="http://www.schema.org/SiteNavigationElement">
        <li class="navigation__item" itemprop="name"><a class="navigation__link" itemprop="url" href="http://www.travelstore.com/our-advantage">Our Advantage</a>
        </li>
        <li class="navigation__item" itemprop="name"><a class="navigation__link" itemprop="url" href="http://www.travelstore.com/our-travel-experts">Travel
                Experts</a></li>
                <li class="navigation__item" itemprop="name"><a class="navigation__link" itemprop="url" href="http://www.travelstore.com/destinations">Destinations</a>
        </li>
        <li class="navigation__item" itemprop="name"><a class="navigation__link" itemprop="url" href="http://www.travelstore.com/cruises">Cruises</a></li>
        <li class="navigation__item" itemprop="name"><a class="navigation__link" itemprop="url" href="http://www.travelstore.com/interests">Interests</a></li>
        <li class="navigation__item" itemprop="name"><a class="navigation__link" itemprop="url"
                href="http://www.travelstore.com/explore-your-world/interests/hotels-and-resorts">Hotels</a>
        </li>
        <li class="navigation__item" itemprop="name"><a class="navigation__link" itemprop="url" href="http://www.travelstore.com/travel-guides">Travel
                Resources</a>
        </li>
    </ul>
</nav>